**Pacotes necessários**

In [1]:
import pandas as pd

**Importar dados de interesse**

**Dados ENEM 2019 e dicionário com descrição de informações de interesse**

Fonte: https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem

In [2]:
deletar = ['NU_ANO','TP_STATUS_REDACAO','NU_NOTA_COMP1', 'NU_NOTA_COMP2',
           'NU_NOTA_COMP3', 'NU_NOTA_COMP4','NU_NOTA_COMP5','TX_RESPOSTAS_CN', 
           'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TX_GABARITO_CN',
           'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'Q003', 'Q004', 'Q005',
           'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016',
           'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024']

In [3]:
df = pd.read_csv('DADOS/MICRODADOS_ENEM_2019.csv', sep=';', encoding='latin-1')
df.drop(deletar, axis=1, inplace=True)
df

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025
0,190001595656,13,M,1,3,1,1,11,1,NaN,...,NaN,NaN,NaN,NaN,0,NaN,B,B,A,B
1,190001421546,8,M,1,1,1,1,5,1,1.0,...,NaN,NaN,NaN,NaN,0,NaN,C,E,C,B
2,190001133210,13,F,1,3,1,1,13,1,1.0,...,NaN,NaN,NaN,NaN,1,NaN,E,E,B,B
3,190001199383,10,F,1,1,1,1,4,1,NaN,...,483.8,503.6,537.3,392.0,1,460.0,C,E,E,B
4,190001237802,7,F,1,1,1,1,4,1,1.0,...,513.6,575.5,570.7,677.0,0,860.0,E,E,G,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095166,190006074437,14,F,4,3,1,1,13,1,NaN,...,NaN,NaN,NaN,NaN,0,NaN,E,B,C,B
5095167,190005429225,5,M,1,3,1,1,3,1,NaN,...,NaN,578.9,555.5,NaN,1,500.0,C,F,C,B
5095168,190006087652,6,M,0,0,1,1,3,1,NaN,...,NaN,NaN,NaN,NaN,0,NaN,E,E,C,B
5095169,190006087653,7,M,0,0,1,1,3,1,NaN,...,NaN,NaN,NaN,NaN,0,NaN,H,C,A,B
5095170,190006087654,6,F,0,0,1,1,3,1,NaN,...,NaN,NaN,NaN,NaN,1,NaN,H,H,C,B

In [4]:
dicionario = pd.read_excel('dicionario.xlsx')
dicionario.head(2)

,TP_FAIXA_ETARIA,TP_FAIXA_ETARIA_DEF,TP_ESTADO_CIVIL,TP_ESTADO_CIVIL_DEF,TP_COR_RACA,TP_COR_RACA_DEF,TP_NACIONALIDADE,TP_NACIONALIDADE_DEF,TP_ST_CONCLUSAO,TP_ST_CONCLUSAO_DEF,Q025,ACESSO_INTERNET,Q001,SERIE_PAI,Q002,SERIE_MAE,Q006,RENDA_FAMILIA
0,1,Menor de 17 anos,0.0,Não informado,0.0,Não declarado,0.0,Não informado,1.0,Já concluí o Ensino Médio,A,Não.,A,Nunca estudou.,A,Nunca estudou.,A,Nenhuma renda.
1,2,17 anos,1.0,Solteiro(a),1.0,Branca,1.0,Brasileiro(a),2.0,Estou cursando e concluirei o Ensino Médio em ...,B,Sim.,B,Não completou a 4ª série/5º ano do Ensino Fund...,B,Não completou a 4ª série/5º ano do Ensino Fund...,B,"Até R$ 998,00."

**Dados longitudinais**

Fonte: https://github.com/kelvins/Municipios-Brasileiros

In [5]:
mapa = pd.read_csv('Municipios-Brasileiros/csv/municipios.csv', sep=',')
mapa = mapa[['codigo_ibge','latitude','longitude']]
mapa.head()

   codigo_ibge  latitude  longitude
0      5200050 -16.75730   -49.4412
1      3100104 -18.48310   -47.3916
2      5200100 -16.19700   -48.7057
3      3100203 -19.15510   -45.4444
4      1500107  -1.72183   -48.8788

**Geolocalizando dados do ENEM**

In [6]:
df.isna().sum()

NU_INSCRICAO                    0
TP_FAIXA_ETARIA                 0
TP_SEXO                         0
TP_ESTADO_CIVIL                 0
TP_COR_RACA                     0
TP_NACIONALIDADE                0
TP_ST_CONCLUSAO                 0
TP_ANO_CONCLUIU                 0
TP_ESCOLA                       0
TP_ENSINO                 2217036
IN_TREINEIRO                    0
CO_MUNICIPIO_ESC          3947784
NO_MUNICIPIO_ESC          3947784
CO_UF_ESC                 3947784
SG_UF_ESC                 3947784
TP_DEPENDENCIA_ADM_ESC    3947784
TP_LOCALIZACAO_ESC        3947784
TP_SIT_FUNC_ESC           3947784
CO_MUNICIPIO_PROVA              0
NO_MUNICIPIO_PROVA              0
CO_UF_PROVA                     0
SG_UF_PROVA                     0
TP_PRESENCA_CN                  0
TP_PRESENCA_CH                  0
TP_PRESENCA_LC                  0
TP_PRESENCA_MT                  0
CO_PROVA_CN               1384836
CO_PROVA_CH               1172125
CO_PROVA_LC               1172125
CO_PROVA_MT               1384836
NU_NOTA_CN                1384836
NU_NOTA_CH                1172125
NU_NOTA_LC                1172125
NU_NOTA_MT                1384836
TP_LINGUA                       0
NU_NOTA_REDACAO           1172126
Q001                            0
Q002                            0
Q006                            0
Q025                            0
dtype: int64

---

+3 milhoes de infos sem resposta para local da escola

Usar local da prova para informação geográfica

---

In [7]:
geo = df[['CO_MUNICIPIO_PROVA', 'CO_MUNICIPIO_ESC']]
print('nan antes de drop:', geo.isna().sum())
geo = geo.dropna()
print('nan depois de drop:', geo.isna().sum())

nan antes de drop: CO_MUNICIPIO_PROVA          0
CO_MUNICIPIO_ESC      3947784
dtype: int64
nan depois de drop: CO_MUNICIPIO_PROVA    0
CO_MUNICIPIO_ESC      0
dtype: int64

In [8]:
# Verificar taxa de diferença
geo.CO_MUNICIPIO_ESC = geo.CO_MUNICIPIO_ESC.astype(int)
geo.dtypes

CO_MUNICIPIO_PROVA    int64
CO_MUNICIPIO_ESC      int32
dtype: object

In [9]:
geo

         CO_MUNICIPIO_PROVA  CO_MUNICIPIO_ESC
14                  3170206           3170206
26                  4101408           4101408
28                  4300604           4300604
31                  3523107           3530607
34                  2919207           2919207
...                     ...               ...
5095136             5218300           5218300
5095138             3158201           3158201
5095140             5002704           5002704
5095141             2916401           2919702
5095146             3550308           3550308

[1147387 rows x 2 columns]

In [10]:
geo['validate'] = geo.CO_MUNICIPIO_PROVA - geo.CO_MUNICIPIO_ESC
geo

         CO_MUNICIPIO_PROVA  CO_MUNICIPIO_ESC  validate
14                  3170206           3170206         0
26                  4101408           4101408         0
28                  4300604           4300604         0
31                  3523107           3530607     -7500
34                  2919207           2919207         0
...                     ...               ...       ...
5095136             5218300           5218300         0
5095138             3158201           3158201         0
5095140             5002704           5002704         0
5095141             2916401           2919702     -3301
5095146             3550308           3550308         0

[1147387 rows x 3 columns]

In [11]:
geo.shape

(1147387, 3)

In [12]:
geo[geo.validate==0].shape

(923325, 3)

In [13]:
print('proporção de coincidencia de mun. de residencia e mun. prova:',
      geo[geo.validate==0].shape[0]/geo.shape[0])

proporção de coincidencia de mun. de residencia e mun. prova: 0.8047197676111024

Assim sendo, do que foi preenchido para mun de situação da escola do aluno, cerca de 80% coincide com o municipio em que o aluno fez a prova. Toma-se como razoável nesta análise considerar a nota do aluno como sendo do munícipio em que o mesmo realizou a prova para análise geográfica distributiva.

In [14]:
df = df.merge(mapa, how='left', left_on='CO_MUNICIPIO_PROVA', right_on='codigo_ibge')
df

,NU_INSCRICAO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_MT,TP_LINGUA,NU_NOTA_REDACAO,Q001,Q002,Q006,Q025,codigo_ibge,latitude,longitude
0,190001595656,13,M,1,3,1,1,11,1,NaN,...,NaN,0,NaN,B,B,A,B,3552205,-23.49690,-47.4451
1,190001421546,8,M,1,1,1,1,5,1,1.0,...,NaN,0,NaN,C,E,C,B,2910800,-12.26640,-38.9663
2,190001133210,13,F,1,3,1,1,13,1,1.0,...,NaN,1,NaN,E,E,B,B,2304400,-3.71664,-38.5423
3,190001199383,10,F,1,1,1,1,4,1,NaN,...,392.0,1,460.0,C,E,E,B,1721000,-10.24000,-48.3558
4,190001237802,7,F,1,1,1,1,4,1,1.0,...,677.0,0,860.0,E,E,G,B,3118601,-19.93210,-44.0539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095166,190006074437,14,F,4,3,1,1,13,1,NaN,...,NaN,0,NaN,E,B,C,B,5300108,-15.77950,-47.9297
5095167,190005429225,5,M,1,3,1,1,3,1,NaN,...,NaN,1,500.0,C,F,C,B,1302603,-3.11866,-60.0212
5095168,190006087652,6,M,0,0,1,1,3,1,NaN,...,NaN,0,NaN,E,E,C,B,4302105,-29.16620,-51.5165
5095169,190006087653,7,M,0,0,1,1,3,1,NaN,...,NaN,0,NaN,H,C,A,B,4302105,-29.16620,-51.5165
5095170,190006087654,6,F,0,0,1,1,3,1,NaN,...,NaN,1,NaN,H,H,C,B,4302105,-29.16620,-51.5165

**Trazendo informações descritivas de colunas de interesse**

In [15]:
idade = dict([(i,a) for i,a in zip(dicionario['TP_FAIXA_ETARIA'].dropna(), dicionario['TP_FAIXA_ETARIA_DEF'])])
civil = dict([(i,a) for i,a in zip(dicionario['TP_ESTADO_CIVIL'].dropna(), dicionario['TP_ESTADO_CIVIL_DEF'])])
cor = dict([(i,a) for i,a in zip(dicionario['TP_COR_RACA'].dropna(), dicionario['TP_COR_RACA_DEF'])])
nacionalidade = dict([(i,a) for i,a in zip(dicionario['TP_NACIONALIDADE'].dropna(), dicionario['TP_NACIONALIDADE_DEF'])])
internet = dict([(i,a) for i,a in zip(dicionario['Q025'].dropna(), dicionario['ACESSO_INTERNET'])])
serie_pai = dict([(i,a) for i,a in zip(dicionario['Q001'].dropna(), dicionario['SERIE_PAI'])])
serie_mae = dict([(i,a) for i,a in zip(dicionario['Q002'].dropna(), dicionario['SERIE_MAE'])])
renda = dict([(i,a) for i,a in zip(dicionario['Q006'].dropna(), dicionario['RENDA_FAMILIA'])])

In [16]:
df['FAIXA_ETARIA'] = [idade[valor] for valor in df.TP_FAIXA_ETARIA]
df['ESTADO_CIVIL'] = [civil[valor] for valor in df.TP_ESTADO_CIVIL]
df['COR_RACA'] = [cor[valor] for valor in df.TP_COR_RACA]
df['NACIONALIDADE'] = [nacionalidade[valor] for valor in df.TP_NACIONALIDADE]
df['ACESSO_INTERNET'] = [internet[valor] for valor in df.Q025]
df['SERIE_PAI'] = [serie_pai[valor] for valor in df.Q001]
df['SERIE_MAE'] = [serie_mae[valor] for valor in df.Q002]
df['RENDA_FAMILIAR'] = [renda[valor] for valor in df.Q006]

In [17]:
df.columns

Index(['NU_INSCRICAO', 'TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN',
       'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN',
       'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_LINGUA', 'NU_NOTA_REDACAO', 'Q001',
       'Q002', 'Q006', 'Q025', 'codigo_ibge', 'latitude', 'longitude',
       'FAIXA_ETARIA', 'ESTADO_CIVIL', 'COR_RACA', 'NACIONALIDADE',
       'ACESSO_INTERNET', 'SERIE_PAI', 'SERIE_MAE', 'RENDA_FAMILIAR'],
      dtype='object')

In [18]:
del df['TP_FAIXA_ETARIA']
del df['TP_ESTADO_CIVIL']
del df['TP_COR_RACA']
del df['TP_NACIONALIDADE']
del df['Q025']
del df['Q001']
del df['Q002']
del df['Q006']
del df['codigo_ibge']
del df['CO_MUNICIPIO_ESC']
del df['NO_MUNICIPIO_ESC']
del df['CO_UF_ESC']
del df['SG_UF_ESC']
del df['TP_DEPENDENCIA_ADM_ESC']

In [19]:
df.columns

Index(['NU_INSCRICAO', 'TP_SEXO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'TP_LOCALIZACAO_ESC',
       'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA',
       'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH',
       'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TP_LINGUA', 'NU_NOTA_REDACAO', 'latitude', 'longitude',
       'FAIXA_ETARIA', 'ESTADO_CIVIL', 'COR_RACA', 'NACIONALIDADE',
       'ACESSO_INTERNET', 'SERIE_PAI', 'SERIE_MAE', 'RENDA_FAMILIAR'],
      dtype='object')

In [20]:
df.to_csv('dados_pbi.csv', sep=',', index=False)